<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Per l'utilizzo off-line utilizzare questo DTD 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<hibernate-configuration>
    <session-factory>        
        <mapping class="it.tids.seed.model.User"/>
        <mapping class="it.tids.seed.model.Role"/>
        <mapping class="it.tids.seed.model.Session"/>
        <mapping class="it.tids.seed.model.Device"/>
        <mapping class="it.tids.seed.model.Measure"/>
            
    </session-factory>
</hibernate-configuration>