@CHARSET "UTF-8";

/**********************************************************
***********************LAYOUT di base******************** 
************************************************************/

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: Arial, Verdana,Helvetica, sans-serif;	
	*height: 100%;	 
}

div#header img#imgLogo {
	position: absolute;
	top: 0;
	left: 0;	
}

div#header div#pnlUseInfo {
	min-height: 48px;
	color: #003399;	
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}

div#navigation {
	width: 100%;
	height: 28px;
	position: relative;
}

div#content {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
	position: relative;	
}

div#stackTrace{
	width: 640px; 
    height: 320px;
    margin: 0px auto; 
    border: 1px inset black; 
    color: gray; 
    text-align: left; 
    font-family: monospace;
    font-size:11px; 
    overflow: scroll;
}
/******************************************************************
************************  TABELLE dati*****************************
*******************************************************************/

.clickableTable tbody tr:HOVER {
	background-color: #FFFFCC;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	cursor: pointer;
}

.standardTableRow1 {
	background-color: #FFFFFF;	
	height: 20px;
	white-space: nowrap;
}

.standardTableRow2 {
	background-color: #F5F5F5;	
	height: 20px;
	white-space: nowrap;
}

/********************************************************************
***************** FORM di inserimento/modifica***********************
*********************************************************************/
.formLogin {
	width: 354px;
	height: 160px;
    background-color: #F5F5F5!important;		
	font-size: 8pt;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.formLogin ul {
	text-align: left;
	list-style: none;
	padding-left: 0px;
	margin-left: 32px;
	margin-top: 16px;
	margin-bottom: 0px;
}

.messageBox {
    background: none repeat scroll 0 0 #FFFFCC;
    border-top: 1px solid #C4C0C9;
    border-bottom: 1px solid #C4C0C9;
    text-align: center;
    list-style: none inside none;
    font-size: 8pt;
    padding: 4px 0;
    width: 100%;   
}

.errorMsg {
	padding: 4px 0 4px 24px;
	display: inline;
	background-image: url(../images/iconError.gif);
	background-position: center left;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #FF0000;	
}

.infoMsg {
	padding: 4px 0 4px 20px;
	margin-left: 4px;
	display: inline;
	background-image: url(../images/iconOk.gif);
	background-position: center left;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #003399;	
}

.requiredLabel {
	color: #003399;	
	font-size: 8pt;
	font-weight: bold;
	display: block;
}

.formInserimento {		
	background-color: #F5F5F5!important;	
	font-size: 8pt;	
	margin-left: auto;
	margin-right: auto;
	text-align: left;	
}

.formLbl {
	display: inline-block;	
	width: 120px;
	margin-left: 5px;
	text-align: left;	
}
/*******************************************************************
************************TESTO ed Etichette**************************
*******************************************************************/
input, select, textarea {
	font-size: 8pt;
}

input.fieldReadOnly, select.fieldReadOnly, textarea.fieldReadOnly {
	background-color: #cccccc;
	font-weight: normal;
	color: black;
}

input.login {
	width: 160px;
}


a, a:visited {
	color: #003399;	
	font-weight: bold;
}

a:hover {
	color: #003399 !important;		
	font-weight: bold;
	text-decoration: underline;
}

.labeltext {
	font-size: 8pt;
	font-weight: bold;
	color: #003399;
}

.contentHeader {
	width: 100%;
	font-size: 16pt;
	font-weight: normal;
	color: #003399;
	text-align: center;
}

.validationError {	
	font-size: 11px;
	font-weight: bold;
	color: red;
}